

body{ 
background-image: url(pro.png); 
text-align: center;
font-size: 25px;
color: white;



}

input[type=text], select {
  
  width: 50%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
	
  font-size: 20px;
  width: 50%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: royalblue;
}

div {
  border-radius: 2px;
  
  padding: 20px;
}

